<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-131227413-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-131227413-2');
    </script>
    <!--/Global site tag (gtag.js) - Google Analytics -->
    <title>Privacy Policy - OpenMTP | Android File Transfer for macOS</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Privacy Policy | OpenMTP - Advanced Android File Transfer Application for macOS."
    />
    <meta name="keywords" content="openmtp,android,file-transfer,macOS,mtp" />
    <meta name="author" content="Ganesh Rathinavel" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="5 days" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, minimal-ui"
    />
    <meta property="fb:app_id" content="288335555210457" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://ganeshrvel.github.io/openmtp/privacy"
    />
    <meta
      property="og:title"
      content="Privacy Policy | OpenMTP - Advanced Android File Transfer Application for macOS."
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ganeshrvel/openmtp/master/blobs/images/file-transfer-large.png?ver=3"
    />
    <meta
      property="og:description"
      content="Tired of using expensive, outdated, bug heavy, Android File Transfer apps for macOS? Try OpenMTP. It's Safe, Transparent, Open-Source and FREE for a lifetime!"
    />

    <link rel="shortcut icon" type="image/png" href="./favicon.ico" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i"
    />
  </head>
  <body>
    <section class="privacy" style="padding: 20px 30px">
      <div class="body">
        <h1>Privacy Policy</h1>
        <%= privacyPolicy %>
      </div>
    </section>
  </body>
</html>
